@font-face {
	font-family: "Copperplate";
	src: url('Fonts/Copperplate Gothic Light Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Quicksand";
	src: url('Fonts/Quicksand/Quicksand-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

html, body {
	font-family: "Copperplate";
	min-height: 100%;
}

#main-container {
	width: 1024px;
	height: 600px;
	margin: auto;
	position: absolute;
	overflow: hidden;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

._page-container {
	width: 704px;
	height: auto;
	position: absolute;
	padding-left: 48px;
	box-sizing: border-box;
	opacity: 0;
	display: inline-block;
	color: #444;
	overflow: hidden;
}

._page-container p {
	font-size: 18px;
	line-height: 26px;
	font-family: "Quicksand";
}

._page-container h1 {
	font-size: 24px;
}

#timeline {
	width: 80%;
	margin: auto;
	margin-bottom: 124px;
	position: relative;
	display: grid;
	grid-template-columns: 30px 212px 30px 212px 30px;
}

._circle-base {
	border-radius: 15px;
	background-color: #444;
	box-shadow: inset 0 0 5px #000;
	width: 0;
	height: 0;
	margin-left: 15px;
	margin-top: 35px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	position: relative;
	-webkit-transition: all 0.3s cubic-bezier(0.91, 0.1, 1, 0.54);
	-moz-transition: all 0.3s cubic-bezier(0.91, 0.1, 1, 0.54);
	transition: all 0.3s cubic-bezier(0.91, 0.1, 1, 0.54);
}

._circle {
	width: 30px;
	height: 30px;
	margin-left: 0;
	margin-top: 20px;
}

._line-base {
	width: 0;
	height: 3px;
	margin-top: 34px;
	vertical-align: top;
	display: inline-block;
	background-color: black;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	transition: all 0.4s linear;
}

._line {
	width: 100%;
	position: relative;
}

._line-glow {
	width: 50px;
	height: 3px;
	position: relative;
	float: right;
	background: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));
	-webkit-transition: all 0.23s linear;
	-moz-transition: all 0.23s linear;
	transition: all 0.23s linear;
}

._line-text {
	width: 160px;
	text-align: center;
	height: auto;
	font-size: 16px;
	display: block;
	position: absolute;
	top: 40px;
	left: -65px;
	opacity: 0;
	line-height: 22px;
	font-family: Quicksand;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

._flex-vertical {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	vertical-align: center;
}

._skill-container {
	width: 100%;
	position: relative;
	height: auto;
}

._skill-container span {
	font-size: 18px;
	font-family: Quicksand;
	display: block;
	margin-bottom: 8px;
	opacity: 0;
	-webkit-transition: all 0.5s cubic-bezier(1, 1.46, .34, 1.23);
	-moz-transition: all 0.5s cubic-bezier(1, 1.46, .34, 1.23);
	transition: all 0.5s cubic-bezier(1, 1.46, .34, 1.23);
	-webkit-transform: translate(50%, 50%) scale(2);
	-moz-transform: translate(50%, 50%) scale(2);
	transform: translate(50%, 50%) scale(2);
}

._skill-container div {
	width: 0;
	height: 8px;
	border-radius: 4px;
	background-color: rgba(150, 180, 80, 1);
}

._flex-grid {
	display: flex;
	justify-content: space-between;
}

._icon-hobbies {
	width: 120px;
	height: 120px;
	opacity: 0;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

/* EXPERIENCE PAGE */

._exp-row {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 240px 1fr;
}

._exp-info-container {
    padding: 0 0 0 24px;
    box-sizing: border-box;
    width: 100%;
}

._exp-info-container h2 {
    font-size: 18px;
    margin: 0 0 4px 0;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}

._exp-row:hover ._exp-info-container h2 {
    color: #43bc76;
    cursor: pointer;
}

._exp-img-container {
    width: 240px;
    height: auto;
    position: relative;
}

._exp-img {
    width: 100%;
}

._img-back {
    z-index: 0;
}

._img-front {
    z-index: 1;
    opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

._exp-row:hover ._img-front {
    opacity: 0;
    cursor: pointer;
}

._exp-tools {
    margin: 0;
    font-size: 16px;
    font-family: Quicksand;
}

._exp-snippet {
    color: #666;
}

._exp-divider {
    width: 100%;
    margin: auto;
    height: 1px;
    margin: 24px 0 40px 0;
    background-color: #eee;
}

/* CONTACT */

#contact-form {
    width: 100%;
    position: relative;
}

#contact-form h2 {
    font-family: Quicksand;
    font-size: 20px;
}

._contact-input-container {
    width: 100%;
    display: grid;
    grid-template-columns:  1fr 1fr;
    grid-gap: 24px;
    margin-bottom: 24px;
}

._contact-input-container input, textarea {
    padding: 14px 16px;
    border: none;
    border-bottom: 1px solid #aaa;
    font-size: 16px;
    color: #444;
    font-family: Quicksand;
}

textarea {
    width: 100%;
    position: relative;
    box-sizing: border-box;
    resize: none;
    height: 240px;
}

#contact-form button {
    display: none;
}

#submit-form {
    width: 250px;
    position: relative;
    margin: auto;
    height: 0;
    border-top: none;
    border-bottom: 100px solid black;
    border-left: 0px solid transparent;
    border-right: 45px solid transparent;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    text-align: center;
    line-height: 80px;
    font-size: 28px;
    color: #ddd;
    font-family: Quicksand;
}

#submit-form:hover {
    cursor: pointer;
}

#page-container-4 h2 {
    text-align: center;
    margin-top: 47px;
    font-family: Quicksand;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.0);
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.6);
    -webkit-transition: text-shadow 0.3s;
        -moz-transition: text-shadow 0.3s;
        transition: text-shadow 0.3s;
}

#page-container-4 h2:hover {
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

.sm-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: -30px;
}

.sm-container img {
    width: 50px;
    position: absolute;
    left: 5px;
    top: 5px;
}

.sm-container img:hover {
    cursor: pointer;
}

#form-taxi {
    width: 314px;
    position: relative;
    margin-left: 149px;
    margin-top: 76px;
    -webkit-transition: margin-left 3s ease-in-out;
    -moz-transition: margin-left 3s ease-in-out;
    transition: margin-left 3s ease-in-out;
}

.sm-icon-circle {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: relative;
    background-color: white;
    -webkit-transition: transform 3s ease-in-out;
    -moz-transition: transform 3s ease-in-out;
    transition: transform 3s ease-in-out;
}